body 
{ 
	padding-top: 60px;
	color: #14996C; 
}

.eventsRow
{
	margin-top:10px;
}

.navbar-default {
  background-color: white;
}

.navbar-default .navbar-nav>.active>a {
	background-color: #14996C;
	color: white;
}

.navbar-default .navbar-nav>.active>a:hover {
	background-color: #14996C;
	color: white;
}

.navbar-default .navbar-nav>li>a {
	background-color: white ;
	color: #14896C;
}

.navbar-default .navbar-nav>li>a:hover {
	background-color: #14996C;
	color: white;
}

.navbar-default .navbar-toggle {
	border-color: #14996C;
}
button.navbar-toggle:hover {
	color: red;
}

.navbar-brand {
	padding: 2px;
}

.navbar-default .navbar-toggle:hover {
	border-color: #14896C;
}

a:hover {
	color: white;
}

.navbar-default .navbar-toggle .icon-bar{
	background-color: #14896C;
}

.navbar-default .navbar-toggle:focus {
	background-color: white;
}

.navbar-default .navbar-toggle:hover {
	background-color: white;
}

h3, h2, p, address {
	color: #14996C;
}